**/*.log
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist
dist-ssr
*.local
.env*
.env.local*
.git
.gitignore
.DS_Store
coverage
.nyc_output
*.tsbuildinfo
.vscode
.idea
*.swp
*.swo
